@import "~ed-grid/ed-grid";

.mt-88 {
  margin-top: 10rem;
}

.mt-5 {
  margin-top: 8rem;
}

.mb-6 {
  margin-bottom: 10rem;
}

.button12 {
  border: none;
  width: 100%;
  color: white;
  background: #b4b1b1;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  border-radius: 5px;

  @include from(m) {
    width: 60%;
  }
  @include from(l) {
    width: 40%;
  }
}
.diag {
  @include from(l) {
    width: 50%;
  }
}
.mt-1 {
  margin-top: 1.5rem;
}


.menu-wizard2 {
  display: block;
  width: 25%;
  border: none;
  background-color: rgb(243, 243, 243);
  padding: .5rem 0;
}

.paso2 {
  background-color: white;
  border-top: #ece7e7 1px solid;
  border-right: #ece7e7 1px solid;
  border-left: #ece7e7 1px solid;
}

.border {
  border:thin solid #ece7e7;
  padding: 1rem;
}

.title {
  color: rgb(51, 48, 48);
  font-weight: 300;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 1rem;
}

.title-p {
  margin-left: 2rem;
  margin-top: .5rem;
  font-weight: 100;

}

.visi {
  cursor: not-allowed;
}

.alert2 {
  margin-left: .5rem;
  font-size: .8rem;
  color: red;
}

.borderinicial {
  margin-bottom: 2rem;
}
