body {
  color: rgb(51, 48, 48);
}

h1, h2, h3 {
  margin: 0;
}


@import "~ed-grid/ed-grid";
@import "~edteam-style-guides/edteam-style-guides";
    :root {
      --heading-font: 'Open Sans', sans-serif;
      --body-font: 'Open Sans', sans-serif;
    }

